<div class="d-flex justify-content-center align-items-center min-vh-100 main">
  <div class="text-white fs-6">
    <p>Placas disponibles: </p>
    @for (plate of plates; track $index) {
      <p>{{ plate }}</p>
    }
  </div>

  <form class="w-50" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center flex-column text-center">
      <h2 class="text-white">Consulta de puntaje de vehículo</h2>
      @if (score.length > 0) {
        <h1 class="text-white mt-4">Puntaje: {{score}}</h1>
      }
      <input type="text" 
             name="plate" 
             id="plate" 
             formControlName="plate" 
             maxlength="6" 
             class="w-100 mt-5 px-4 fs-4 rounded border border-black" 
             placeholder="Placa - Ejemplo: PQR-478" />
    </div>
    <div class="text-center mt-5">
      <button type="submit" class="btn btn-success py-2 px-4 fs-5" [disabled]="fetching">Consultar</button>
    </div>
  </form>
</div>
